
.term {
  display: block;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

.term .line {
  display: block;
  height: 14px;
}

.term .line > .glyph {
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  margin: 0;
}
