
.term {
  display: block;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: none;
}

.term > .container {
  display: block;
  position: relative;
  background-color: hsl(0,0%,0%);
  color: white;
}

.term > .container .line {
  display: block;
  height: 14px;
  line-height: 14px;
}

.term > .container .line > div.glyph {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 14px;
  margin: 0;
}
