@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata.otf);
}


body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Inconsolata;
  font-size: 13px;
  letter-spacing: -1px;
  overflow: hidden;
}
